/* Odin-Recipes' styles.css */

body {
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    background-color: aliceblue;
}

h1 {
    text-align: center;
    color: rgb(171, 114, 6);
    background-color: burlywood;
    padding: 10px 10px 0 0;
}

a {
    color: rgb(180, 159, 0);
}